@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lateef:wght@200;300;400;500;600;700;800&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, Archivo Black, Lateef, Nunito, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
}

.auth-page_layout canvas {
  position: absolute;
  /* Đảm bảo rằng canvas không làm gián đoạn layout */
  top: 0;
  left: 0;
  width: 100% !important;
  /* Làm cho canvas luôn chiếm 100% chiều rộng */
  height: 100% !important;
  /* Làm cho canvas luôn chiếm 100% chiều cao */
  z-index: -1;
  /* Đảm bảo canvas nằm phía sau các phần tử khác */
}

*::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: transparent;
  /* or add it to the track */
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}